# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcuserstate
*.xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*~.nib/
*.swp
*.lock
*.DS_Store
xcuserdata/
Podfile.lock
Pods/
.DS_Store
build/
*.iml
.idea/
