<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>LSUIElement</key>
        <false/>
        <key>com.apple.security.device.serial</key>
        <true/>
        <key>NSUserActivityTypes</key>
        <array>
            <string>SetPowerIntent</string>
            <string>TogglePowerIntent</string>
            <string>LoadPresetIntent</string>
            <string>SetEffectIntent</string>
        </array>
        <key>IntentsSupported</key>
        <array>
            <string>SetPowerIntent</string>
            <string>TogglePowerIntent</string>
            <string>LoadPresetIntent</string>
            <string>SetEffectIntent</string>
        </array>
        <key>com.apple.security.files.user-selected.read-only</key>
        <true/>
    </dict>
</plist>
